.demo{
    color: cornsilk;
    background-color: black;
    font-size: ol20px;
}
.heading{
    text-align: center;
    color: pink;
    font-family: fantasy;
    text-decoration: underline;
    text-decoration-color: purple;
}
#pagefooter{
    background-color: royalblue;
    width: 100%;
    height: 200px;
}
    