.table{
    background-color: gray;

}
.table:hover{
    background-color: blue;
}
.table1{
    background-color: green;
}
.table1:hover{
    background-color: blue;
}
.table2{
    background-color: yellow;
}
.table2:hover{
    background-color: blue;
}
.table3{
    border-color: chartreuse;
}
.table2:nth-child(even){
    background-color:darkmagenta ;
}
.table2:hover:nth-child(odd){
    background-color: ;
}
#tableid{
background-color: gold;
}
.centre{
    text-align: center;
}
.color{
    text-decoration-color: hotpink;
}